html {
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  margin-top: 20%;
  text-align: center;
}

.mainMenu {
  position: absolute;
  z-index: 2;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.rules {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}

.wrapper {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
}

.selectionSide-6-Ball{
  display: grid;
  grid-template-columns: 36px 36px 36px;
  grid-auto-rows: 36px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  cursor: pointer;
}




.selectionSide-8-Ball {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px;
  grid-auto-rows: 36px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  cursor: pointer;
}



.singleRow {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px 40px;
  grid-auto-rows: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
}

.finishedRow {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px 40px;
  grid-auto-rows: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
}

.activeRow {
  display: grid;
  grid-template-columns: 36px 36px 36px 36px 40px;
  grid-auto-rows: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.activeRow .emptyBall {
  margin: auto;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #f5f7f6;
}


.scoringDiv {
  display: grid;
  grid-template-columns: 12px 12px;
  grid-auto-rows: 12px;
  margin: auto;
}

.ball {
  margin: auto;
  height: 25px;
  width: 25px;
  border: 2px solid lightgrey;
  border-radius: 50%;
}

.ball:hover {
  border: 4px solid lightgrey;
  height: 25px;
  width: 25px;
}

.emptyBall, .nextBall {
  margin: auto;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #f5f7f6;
}

.coloredBall {
  margin: auto;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  border-radius: 50%;
}

.hovered {
  margin: auto;
  height: 30px;
  width: 30px;
  border: 2px dashed black;
  border-radius: 50%;
  background-color: #a8a8a8;
}

.scoringBall, .scoredBall {
  margin: auto;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: inherit;
}

.scoredBallBlack {
  margin: auto;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: black;
}

.scoredBallWhite {
  margin: auto;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: white;
}


.gameConclusion {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.gameConclusionBox {
  width: 60%;
  background-color: #f4f4f4;
  margin: 10% auto;
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
}
